:root {
    --color-primary: #3e38f2;
    --color-secondary: #1a1a1a;
    --color-tertiary: #c3c3c3;
    --color-white: #ffffff;
    --color-background: #f3f4f6;
    --color-background-hover: #c3c3c31f;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    font-family: Figtree, system-ui, -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}

.header {
    background-color: var(--color-white);
    padding: 10px 20px;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #c3c3c34d;
    position: fixed;
}

.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-header-brand {
    display: flex;
    align-items: center;
}

.header-brand__button {
    border: 1px solid #c3c3c34d;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    color: var(--color-tertiary);
    transition: all 0.3s;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.header-brand__button:hover {
    background-color: var(--color-background-hover);
}

.header-brand__button svg {
    height: 30px;
}

.header-brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 18px;
    padding: 10px;
    color: var(--color-primary);
    line-height: 100%;
    transition: all 0.3s;
}

.header-brand-link:hover {
    opacity: 0.8;
}

.header-brand-link__image {
    height: 40px;
    flex: 0 0 auto;
}

.header-brand-link__text {
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;
}

.header-brand-link__text.active {
    visibility: hidden;
}

.c-header-profile {
    display: flex;
    align-items: center;
}

.header-profile-picture__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}

.header-profile-info__name {
    margin: 0;
    font-weight: 600;
}

.header-profile-figure svg {
    height: 25px;
    margin-left: 5px;
    color: var(--color-tertiary);
}

.aside {
    background-color: var(--color-white);
    height: calc(100vh - 81px);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 250px;
    border-right: 1px solid #c3c3c34d;
    z-index: 1000;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s;
}

.aside.active {
    width: 71px;
}

.aside-brand {
    margin-bottom: 10px;
}

.aside-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.aside-nav-item.active p {
    visibility: hidden;
}

.aside-nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    color: var(--color-tertiary);
    line-height: 100%;
    transition: all 0.3s;
    border-radius: 5px;
}

.aside-nav-link.active {
    color: var(--color-primary);
}

.aside-nav-link:hover {
    color: var(--color-primary);
    background-color: var(--color-background-hover);
}

.aside-nav-link svg {
    height: 30px;
    flex: 0 0 auto;
}

.aside-nav-link p {
    margin: 0;
    margin-left: 5px;
}

.aside-nav-item__text.active {
    display: none;
}

.main-wrapper {
    display: flex;
}

.content-wrapper {
    margin-top: 81px;
    margin-left: 250px;
    padding: 20px;
    width: 100%;
    transition: all 0.3s;
}

.content-wrapper.active {
    margin-left: 71px;
}

.main-heading__title {
    color: var(--color-secondary);
    font-weight: 900;
}

.main-content {
    background-color: var(--color-white);
    border-radius: 5px;
    padding: 20px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.1);
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;
}

.overlay.active {
    opacity: 1;
    z-index: 1;
}

@media screen and (max-width: 991px) {
    .header-brand__button {
        margin-right: 0;
    }

    .aside {
        /* display: none; */
        left: -250px;
    }

    .aside.active {
        left: 0;
        width: 250px;
    }

    .content-wrapper {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {
    .header-profile-info__name {
        display: none;
    }
}

@font-face {
    font-family: "Figtree";
    font-style: light;
    font-weight: 300;
    src: url("../fonts/Figtree-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Figtree";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Figtree-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Figtree";
    font-style: normal;
    font-weight: 500;
    src: url("../fonts/Figtree-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Figtree";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Figtree-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Figtree";
    font-style: bold;
    font-weight: 700;
    src: url("../fonts/Figtree-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Figtree";
    font-style: bold;
    font-weight: 900;
    src: url("../fonts/Figtree-ExtraBold.ttf") format("truetype");
}
